@import "_variables.scss"; /* Import in our variables! */
@import "_mobile-grid.scss"; /* Our mobile grid */
@import "_client-fixes.scss"; /* Our client fixes for hotmail, etc */
@import "_typography.scss"; /* Control all typography */

/* -------------------------------------------
        Style our body
 -------------------------------------------- */
body {
  background-color: $background-color;
  margin:0;
  padding:0;
}

/* -------------------------------------------
        Colour stuff
-------------------------------------------- */

.color-background {
  &.red {
    background-color: $color-red;
  }
}


/* -------------------------------------------
        Media Queries
-------------------------------------------- */

@media only screen and (max-width: 600px) {
  *[class="mobile-hide"] {
    display:none !important;
  }
  *[class="mobile-stack"] {
    display:block !important;
  }
  *[class="mob-column"] {
    float: none !important;
    width: 100% !important;
    height:auto;
  }             
      
}