/* -------------------------------------------
Colour variables

Define some set colours here that you can
call in anywhere. Add as many as you like.
-------------------------------------------- */
/* -------------------------------------------
Background of whole email colour?
-------------------------------------------- */
/* -------------------------------------------
Font variables
-------------------------------------------- */
/* -------------------------------------------
Button variables
-------------------------------------------- */
/* -------------------------------------------
Width Variables
-------------------------------------------- */
/* -------------------------------------------
Do you want to add padding for container on
responsive? Write either "yes" or "no"
-------------------------------------------- */
/* Import in our variables! */
/* -------------------------------------------
Grid stuff, don't touch!
-------------------------------------------- */
@media only screen and (max-width: 600px) {
  *[class="full-container"] {
    padding: 10px; } }

*[class="full-width"] {
  width: 100%; }
  @media only screen and (max-width: 600px) {
    *[class="full-width"] {
      width: 100% !important;
      height: auto; } }

*[class="full-width-container"] {
  width: 640px; }
  @media only screen and (max-width: 600px) {
    *[class="full-width-container"] {
      width: 100% !important;
      height: auto; } }

*[class="width-half"] {
  width: 290px; }
  @media only screen and (max-width: 600px) {
    *[class="width-half"] {
      width: 100% !important;
      height: auto; } }

*[class="width-third"] {
  width: 186.66667px; }
  @media only screen and (max-width: 600px) {
    *[class="width-third"] {
      width: 100% !important;
      height: auto; } }

*[class="width-two-thirds"] {
  width: 373.33333px; }
  @media only screen and (max-width: 600px) {
    *[class="width-two-thirds"] {
      width: 100% !important;
      height: auto; } }

*[class="width-quarter"] {
  width: 135px; }
  @media only screen and (max-width: 600px) {
    *[class="width-quarter"] {
      width: 100% !important;
      height: auto; } }

*[class="spacer"] {
  width: 20px; }
  @media only screen and (max-width: 600px) {
    *[class="spacer"] {
      display: none; } }

*[class="mobile-spacer"] {
  width: 20px; }
  @media only screen and (max-width: 600px) {
    *[class="mobile-spacer"] {
      height: 20px; } }

*[class="container-mob"] {
  width: 100%; }
  @media only screen and (max-width: 600px) {
    *[class="container-mob"] {
      width: 100% !important;
      height: auto;
      margin-bottom: 20px; } }

/* Our mobile grid */
.ExternalClass {
  line-height: 100%; }
  .ExternalClass p {
    line-height: 100%; }
  .ExternalClass span {
    line-height: 100%; }
  .ExternalClass font {
    line-height: 100%; }
  .ExternalClass td {
    line-height: 100%; }
  .ExternalClass div {
    line-height: 100%; }

table td {
  border-collapse: collapse; }

.yshortcuts a {
  border-bottom: none !important; }

/* Our client fixes for hotmail, etc */
span[class="paragraph"] {
  font-size: 16px;
  font-family: Arial, sans-serif;
  color: #666666; }

span[class="heading"] {
  font-size: 24px;
  font-family: Georgia;
  color: #0000ff; }

/* Control all typography */
/* -------------------------------------------
        Style our body
 -------------------------------------------- */
body {
  background-color: #ffffff;
  margin: 0;
  padding: 0; }

/* -------------------------------------------
        Colour stuff
-------------------------------------------- */
.color-background.red {
  background-color: #fff; }

/* -------------------------------------------
        Media Queries
-------------------------------------------- */
@media only screen and (max-width: 600px) {
  *[class="mobile-hide"] {
    display: none !important; }
  *[class="mobile-stack"] {
    display: block !important; }
  *[class="mob-column"] {
    float: none !important;
    width: 100% !important;
    height: auto; } }
